<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=collage Alumni;User ID=sa;Password=me123" />
    <add name="collage AlumniConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString2" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString3" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString4" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString5" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString6" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString7" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString8" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString9" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString10" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString11" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString12" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString13" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="collage AlumniConnectionString14" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;collage Alumni&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>


